<div class="container py-4">
  <div class="row">
    <div class="col-lg-12"><%- include('./header.ejs')%></div>
    <div class="col-lg-2 col-md-6 col-sm-6 border "><%- include('./left.ejs')%></div>

    <div class="col-lg-10 col-md-6 col-sm-6 mt-lg-4 table-responsive-lg">
      <% if(data.length>0) { %>
        <table class="table table-bordered ">

          <tr>
            <th>Index</th>
            <!-- <th> p_image</th> -->
            <th> p_name</th>
            <th> p_price</th>
            <th> p_discount</th>
            <th>p_description</th>
            <th colspan="2">action</th>
          </tr>

          <% for(var i=0; i<data.length; i++){ %>
            <tr>
              <td>
                <%= i %>
              </td>
              <td>
                <%= data[i].image %>
              </td>
              <td>
                <%= data[i].p_name %>
              </td>
              <td>
                <%= data[i].p_price %>
              </td>
              <td>
                <%= data[i].p_discount %>
              </td>
              <td>
                <%= data[i].p_description %>
              </td>
              <td class="text-center">
    <a role="button" class="btn btn-danger btn-sm " href='/delete/<%= data[i]._id %>'>Remove</a>
  <a role="button" class="btn btn-success btn-sm" href='/edits/<%= data[i]._id %>'> Edit</a>
  <a  role="button" class="btn btn-success btn-sm" href='/view/<%= data[i]._id %>'>Show</a>

              </td>
              <div class=""></div>
              <!-- <a  role="button" class="btn btn-primary btn-sm my-2" href='/edit/<%= data[i]._id %>'>Edit</a>
   <a  role="button" class="btn btn-success btn-sm" href='/show/<%= data[i]._id %>'>Show</a>
            </td> -->
            </tr>
            <%} %>

        </table>
        <% } else { %>
          no record found
          <% } %>




    </div>
  </div>
</div>